.clear:before,
.clear:after {
  clear: both;
  display: table;
  content: '';
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Helvetica Neue', Arial;
}
.map-container,
.map,
#map {
  height: 100%;
}
.header-container {
  background-color: #444444;
}
.header-container .menu-wrapper {
  position: relative;
  display: block;
  height: 100%;
}
.header-container .menu-wrapper .menu {
  float: right;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-container .menu-wrapper .menu .menu-item {
  float: left;
  width: 50%;
  height: 100%;
}
.landing-header-container .user-wrapper {
  float: right;
  width: 15%;
  padding-right: 15px;
  text-align: right;
}
.landing-header-container .user-wrapper .user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 1px 1px #000000;
  cursor: pointer;
}
.landing-header-container .user-wrapper .user-img:hover {
  box-shadow: 0 1px 3px 1px #000000;
}
.landing-header-container .user-wrapper .user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.landing-header-container {
  position: relative;
  z-index: 20;
}
.landing-header-container .header-signup-link {
  display: block;
  float: right;
  margin: 10px;
  width: 100px;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #999999;
  text-align: center;
}
.landing-content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing-content-container .content-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center / cover url('../images/landing_content_bg.jpg');
  opacity: .5;
}
.landing-content-container .content-wrapper {
  position: relative;
  max-width: 1200px;
  width: 75%;
  margin: 100px auto auto auto;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  padding: 25px;
}
.landing-content-container .content-wrapper .intro-purpose {
  color: #000000;
  margin-bottom: 75px;
}
.landing-content-container .content-wrapper .intro-purpose .intro-title {
  display: block;
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
}
.landing-content-container .content-wrapper .intro-purpose .intro-desc {
  display: block;
  font-size: 24px;
  text-align: center;
}
.landing-content-container .content-wrapper .search-label {
  text-align: center;
  font-size: 26px;
  color: #777777;
  margin-bottom: 10px;
}
.landing-content-container .content-wrapper .search-box {
  height: 40px;
  line-height: 40px;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 5px #999999;
  border-radius: 3px;
}
.landing-content-container .content-wrapper .search-box .input-search {
  float: left;
  height: 38px;
  width: 85%;
  padding-left: 10px;
  border: none;
  font-size: 16px;
}
.landing-content-container .content-wrapper .search-box .btn-input-search {
  float: right;
  height: 40px;
  line-height: 40px;
  width: 10%;
  border: none;
  background-color: #ECECEC;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.landing-content-container .content-wrapper .search-box .btn-input-search:hover {
  background-color: #DADADA;
}
.landing-content-container .content-wrapper .search-box .btn-input-search .fa:before {
  font-size: 26px;
  color: #999999;
}
.signup-content-container .signup-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: no-repeat center / cover url('../images/signup_bg.jpg');
  opacity: .5;
  z-index: 1;
}
.login-wrapper {
  top: 5%;
  position: relative;
  z-index: 10;
}
.login-wrapper .input-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.6);
}
.login-wrapper .input-wrapper .input-row {
  margin: 25px;
}
.login-wrapper .input-wrapper .input-row label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #FFFFFF;
}
.login-wrapper .input-wrapper .input-row input {
  display: block;
  height: 20px;
  width: 100%;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #999999;
  font-size: 16px;
  color: #999999;
  padding: 10px 5px;
}
.login-wrapper .input-wrapper .input-row .btn-wrapper {
  float: left;
  width: 50%;
}
.login-wrapper .input-wrapper .input-row .btn-wrapper .padding-helper {
  padding: 15px;
}
.login-wrapper .input-wrapper .input-row.error input {
  border-radius: 3px;
  border: 2px dashed #fc3f3f;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  transition: all 1s;
}
.loader.hide {
  opacity: 0;
  display: none;
}
.loader.show {
  display: block;
  opacity: 1;
  z-index: 10;
}
.loader .loader-img {
  width: 100%;
  height: 100%;
}
.autho-content-container .autho-content-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: no-repeat top / cover url('../images/login_bg.jpg');
  opacity: .5;
  z-index: 1;
}
.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 20;
}
.content-container .main-container {
  float: left;
  width: 60%;
  height: 100%;
}
.content-container .results-container {
  float: left;
  width: 40%;
  height: 100%;
}
.content-container .settings-container {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 40%;
  right: -40%;
  background-color: #FFFFFF;
  transition: right 1s;
}
.content-container .settings-container.open {
  right: 0;
}
.content-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
}
.results-wrapper {
  height: 100%;
}
.results-wrapper .results-heading {
  height: 10%;
  border-bottom: 1px solid #999999;
  background-color: #ECECEC;
}
.results-wrapper .results-heading .results-heading-title {
  font-weight: bold;
  text-align: center;
}
.results-wrapper .results {
  height: 90%;
  overflow-y: auto;
}
.results-wrapper .results .result-row {
  height: 25%;
  margin: 30px 0;
  border: 1px solid #999999;
  border-radius: 3px;
}
.results-wrapper .results .result-row .user {
  padding: 15px;
}
.results-wrapper .results .result-row .user .user-image-wrapper {
  float: left;
  width: 25%;
}
.results-wrapper .results .result-row .user .user-desc-wrapper {
  float: left;
  width: 75%;
}
.settings-container .option-wrapper {
  height: 100%;
}
.settings-container .capture-address-body .input-row {
  padding: 15px;
}
.settings-container .capture-address-body .input-row .text-label {
  display: block;
  font-size: 18px;
}
.settings-container .capture-address-body .input-row .txb {
  display: block;
  width: 100%;
  height: 33px;
  line-height: 33px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #999999;
  margin-top: 25px;
  font-size: 14px;
  color: #444444;
}
@media (max-width: 678px) {
  .content-container .main-container {
    float: none;
    width: 100%;
    height: 75%;
  }
  .content-container .results-container {
    float: none;
    width: 100%;
    height: 25%;
  }
}
.profile-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/profile_bg.jpg) center / cover no-repeat;
  opacity: .5;
  z-index: 1;
}
.main-content {
  margin-top: 10%;
  height: 100%;
}
.btn {
  display: block;
  width: 125px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 3px 0 #999999;
  border: 1px solid #999999;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0 3px 1px #999999;
}
.btn.full-width {
  width: 100%;
  margin: 0;
}
.btn-cancel {
  background-color: #883E3F;
}
.btn-cancel:hover {
  background-color: #c72e45;
}
.btn-success {
  background-color: #519D9E;
}
.btn-success:hover {
  background-color: #58C9B9;
}
.btn-signup {
  background-color: #03a6ff;
}
.btn-signup:hover {
  background-color: #1ec0ff;
}
.btn-login {
  background-color: #F2BB05;
}
.btn-login:hover {
  background-color: #F3C11B;
}
.btn-fb-connect {
  background-color: #3b5998;
}
