.star:before {
  font-size: 24px;
  color: #FC913A;
}
.star-wrapper {
  float: left;
  width: 25px;
  cursor: pointer;
}
.star-wrapper.full .star-full {
  display: block;
}
.star-wrapper.full .star-half {
  display: none;
}
.star-wrapper.full .star-empty {
  display: none;
}
.star-wrapper.half .star-full {
  display: none;
}
.star-wrapper.half .star-half {
  display: block;
}
.star-wrapper.half .star-empty {
  display: none;
}
.star-wrapper.empty .star-full {
  display: none;
}
.star-wrapper.empty .star-half {
  display: none;
}
.star-wrapper.empty .star-empty {
  display: full;
}
