.btn{
    display: block;
    width: 125px;
    padding: 10px;
    border: none;    
    text-decoration: none;
    color: #FFFFFF;                                    
    text-align: center;    
    cursor:pointer;

    &:hover{
        box-shadow: 0 0 3px 1px #999999;
    }

    // WIDTH 100% BUTTON
    &.full-width{
        width: 100%;
        margin: 0;
    }  

 
}

// DANGER DANGER MR ROB
.btn-cancel{
    background-color: #883E3F;

    &:hover{
        background-color: #c72e45;
    }
}

// GOOD
.btn-success{
    background-color: #519D9E;

    &:hover{
        background-color: #58C9B9;
    }
}


.btn-signup{
    background-color: #03a6ff;                    
    
    &:hover{
        background-color: #1ec0ff;
    }
} 
.btn-login{
    background-color: #F2BB05;

    &:hover{
        background-color: #F3C11B;
    }
} 
.btn-fb-connect{
    background-color: #3b5998;
}