.header-container{
    background-color: #FFCF60;

    & .menu-wrapper{
        position:relative;
        display:block;
        height: 100%;

        & .menu{
            float: right;
            height: 100%;
            padding: 0;
            margin:0;
            list-style:none;

            & .menu-item{
                float: left;
                width: 50%;
                height: 100%;


            }
        }
    }
}